/****************************************************/
/********************* LEIA-ME **********************/
/****************************************************/
/*
 * Esse arquivo de CSS usa as regras de BEM.
 * Para informações de como compreender e desenvolver 
 * nesse modelo acesse: http://getbem.com/introduction/
 * Regras de CSS desenvolvidas por Joseph Oliveira Correa.
*/
/****************************************************/
/******************** INFORMAÇÕES *******************/
/****************************************************/
/*
 * c - Refere-se a "Componente". Neste tipo de bloco 
 * estão contidas todas as regras de css que envolvem
 * a parte estrutural do site. 
*/
/****************************************************/
/******************** APLICACAO *********************/
/****************************************************/
.c-app{
    
}

/****************************************************/
/********************* DOCUMENTO ********************/
/****************************************************/
.c-doc{
    margin: auto;
    width: 1000px;
}

/****************************************************/
/********************** ARTIGO **********************/
/****************************************************/
.c-art{
    display: grid;
    grid-template-columns: 30% 70%;
}

/****************************************************/
/*********************** LADO ***********************/
/****************************************************/
.c-ld{
    
}

/****************************************************/
/*********************** SECAO **********************/
/****************************************************/
.c-sec{
    
}

/****************************************************/
/********************** CONTEUDO ********************/
/****************************************************/

.c-ct{
    display: grid;
    grid-gap: 10px;
    padding: 10px 15px;
}

/****************************************************/
/************************ ITEM **********************/
/****************************************************/

.c-it{
    display: grid;
    grid-gap: 5px;
}

/****************************************************/
/*********************** TITULO *********************/
/****************************************************/

.c-txt{

}

.c-txt--tt{
    padding: 10px 15px;
}

/****************************************************/
/********************** BARRA ***********************/
/****************************************************/

.c-bar{
    height: 10px;
    background-color: var(--c-azul-2);
}

/* 
.barra-10{
    background: linear-gradient(to right, #007e33 0%,#007e33 10%,#c6c6c6 10%,#dbdbdb 100%);
}

.barra-20{
    background: linear-gradient(to right, #007e33 0%,#007e33 20%,#c6c6c6 20%,#dbdbdb 100%);
}

.barra-30{
    background: linear-gradient(to right, #007e33 0%,#007e33 30%,#c6c6c6 30%,#dbdbdb 100%);
}

.barra-40{
    background: linear-gradient(to right, #007e33 0%,#007e33 40%,#c6c6c6 40%,#dbdbdb 100%);
}

.barra-50{
    background: linear-gradient(to right, #007e33 0%,#007e33 50%,#c6c6c6 50%,#dbdbdb 100%);
}

.barra-60{
    background: linear-gradient(to right, #007e33 0%,#007e33 60%,#c6c6c6 60%,#dbdbdb 100%);
} */

/****************************************************/
/******************** DIVISORIA *********************/
/****************************************************/

.c-hr{
    margin: 0px 15px;
    border-bottom: 0;
}